<footer>
	<div class= "logo_footer">
		<a href="https://www.facebook.com/bazy.cristi"><i class="fab fa-facebook fa-2x"></i></a>
		<a href="https://www.instagram.com/bazy.cristi/?hl=ro"><i class="fab fa-instagram fa-2x"></i></a>
		<a href="https://github.com/bazycristi21"><i class="fab fa-github fa-2x"></i></a>
		<a href=""><i class="fab fa-linkedin fa-2x"></i></a>
	</div>
</footer>